body{
    margin-top: 80px;
    font-family: 'Lato', sans-serif;
}

main{
    padding-top: 100px;
}

a{
    text-decoration: none;
}

.first-row{
    width: 100%;
    margin-top: 120px;
    background-color: $second-color;
    @include flexbox-column;
}
