//JUMBOTRON

.jumbo-container{
    width: 60%;
    height: 400px;
    margin: 0 auto;
    @include flexbox;

    .jumbotron{
        width: 80%;
        margin-top: 25px;
        margin-right: 30px;
        @include flexbox-column;

        h1{
            margin-bottom: 20px;
            font-size: 60px;
            color: $fourth-color;
        }

        h4{
            font-size: 1.2em;
            margin-bottom: 20px;
            color: $fourth-color;
        }

        .jumbo-buttons{
            width: 70%;
            @include flexbox-between;

            p{
                color: #bdbbcd;
            }

            button{
                @include flexbox;
                @include button-blue;
                &:hover{
                    cursor: pointer;
                }

                .btsign{
                    padding-left: 10px;
                    font-size: 1.2em;
                    color: $first-color;
                }
            }
        }

        a{
            margin-top: 20px;
            color: $fourth-color;
            &:after{
                content: ' ->';
            }
        }
    }

    img{
        width: 50%;
        height: 100%;
    }
}

// PRIMA ROW

.first-row-container{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 80px;
    @include flexbox-column;
    align-items: center;

    h2{
        font-size: 1.9em;
        text-align: center;
        margin-top: 90px;
        color: $fourth-color;
    }

    .first-cards{
        margin-top: 60px;
        padding-right: 60px;
        @include flexbox-between;

        .card{
            text-align: center;
            @include flexbox-column;
            align-items: center;

            img{
                width: 200px;
                height: 150px;
                margin-bottom: 25px;
            }

            p{
                font-size: 1.4em;
                color: $fourth-color;
            }

            #cat{
                width: 100px;
                height: 150px;
            }
        }
    }

    img{
        width: 290px;
        height: 300px;
        margin-top: 60px;
        margin-left: 10px;
    }
}


// SECONDA ROW

.second-row{
    width: 100%;
    background-color: $first-color;
    @include flexbox-column;


    .second-row-container{
        width: 90%;
        margin: 0 auto;
        padding-top: 80px;
        @include flexbox;
        &:nth-child(odd){
            justify-content: flex-start;
        }
        &:nth-child(even){
            justify-content: flex-end;
        }

        img{
            width: 50%;
            padding-top: 60px;
        }

        .second-card{
            width: 20%;
            @include flexbox-column;
            & > img{
                margin: 0 auto;
                width: 70%;
                height: 80%;
            }

            h2{
                font-size: 1.5em;
                color:$fourth-color;
                padding-bottom: 15px;
            }

            p{
                color:$fourth-color;
                padding-bottom: 30px;
            }

            a{
                padding-bottom: 30px;
                font-weight: 700;
                color: $third-color;
                &:after{
                    content: ' ->'
                }
            }
        }
    }
}

// TERZA ROW

.first-row-container.last{
    width: 50%;
    margin: 0 auto;
    padding-bottom: 80px;
    @include flexbox-column;
    align-items: center;

    h2{
        padding-bottom: 50px;
        &:after{
            content: url('https://teambit.io/wp-content/themes/teambeat/img/happy.svg')
        }
    }

    .quote{
        width: 80%;
        margin: 0 auto;
        position: relative;
        border: 1px solid $fourth-color;
        border-radius: 10px;
        background-color: $first-color;

        i{
            position: absolute;
            left: 0;
            top: -30px;
            font-size: 3em;
            color: $third-color;
        }

        p{
            text-align: justify;
            font-size: 18px;
            padding: 0 30px;
            color: $fourth-color;
            &:nth-child(2){
                padding-top: 40px;
            }
        }

        .founders{
            width: 100%;
            height: 100px;
            @include flexbox;
            justify-content: flex-start;
            padding-left: 20px;
            padding-bottom: 50px;

            img{
                width: 60px;
                height: 60px;
            }

            .founders-names{
                padding-left: 20px;
                @include flexbox-column;

                small{
                    padding-top: 60px;
                    text-align: left;
                }
            }
        }
    }

    .quote-buttons{
        width: 100%;
        padding-top: 30px;
        @include flexbox-between;

        button{
            @include flexbox-around;
            @include button-blue;

            span{
                padding-left: 20px;
            }
        }

        p{
            color: $fourth-color;
            padding: 0 20px;
        }
    }
}
