//JUMBOTRON

.jumbo-container{
    width: 60%;
    height: 400px;
    margin: 0 auto;
    @include flexbox;

    .jumbotron{
        width: 80%;
        margin-top: 25px;
        margin-right: 30px;
        @include flexbox-column;

        h1{
            margin-bottom: 20px;
            font-size: 60px;
            color: $fourth-color;
        }

        h4{
            font-size: 1.2em;
            margin-bottom: 20px;
            color: $fourth-color;
        }

        .jumbo-buttons{
            width: 70%;
            @include flexbox-between;

            p{
                color: #bdbbcd;
            }

            button{
                @include flexbox;
                @include button-blue;
                &:hover{
                    cursor: pointer;
                }

                .btsign{
                    padding-left: 10px;
                    font-size: 1.2em;
                    color: $first-color;
                }
            }
        }

        a{
            margin-top: 20px;
            text-decoration: none;
            color: $fourth-color;
            &:after{
                content: ' ->';
            }
        }
    }

    img{
        width: 50%;
        height: 100%;
    }
}

// PRIMA ROW

.first-row{
    width: 100%;
    margin-top: 120px;
    background-color: $second-color;
    @include flexbox-column;


    .first-row-container{
        width: 50%;
        margin: 0 auto;
        padding-bottom: 80px;
        @include flexbox-column;
        align-items: center;

        h2{
            font-size: 1.9em;
            text-align: center;
            margin-top: 90px;
            color: $fourth-color;
        }

        .first-cards{
            margin-top: 60px;
            padding-right: 60px;
            @include flexbox-between;

            .card{
                text-align: center;
                @include flexbox-column;
                align-items: center;

                img{
                    width: 200px;
                    height: 150px;
                    margin-bottom: 25px;
                }

                p{
                    font-size: 1.4em;
                    color: $fourth-color;
                }

                #cat{
                    width: 100px;
                    height: 150px;
                }
            }
        }

        img{
            width: 290px;
            height: 300px;
            margin-top: 60px;
            margin-left: 10px;
        }
    }
}

// SECONDA ROW
