@mixin flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flexbox-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexbox-between{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
