//MIXINS FOR FLEXBOX
@mixin flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexbox-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin flexbox-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexbox-between{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

//MIXINS FOR BUTTONS

@mixin button-white{
    padding: 7px 15px;
    border: 1.8px solid $third-color;
    border-radius: 8px;
    color: $third-color;
}
