nav{
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $first-color;
    border-bottom: 1px solid #dedad7;
    @include flexbox;

    .container{
        width: 60%;
        height: 100%;
        @include flexbox-between;

        img{
            height:100%;
        }

        ul{
            width: 50%;
            @include flexbox-around;
            li{
                font-weight: 700;
                list-style: none;
                &:hover{
                    color: $third-color;
                    cursor: pointer;
                }
            }

        }
    }
}
